= simple_form_for [:frontoffice, @table.restaurant, @table], :html => { :class => 'form-horizontal' } do |f|
  = f.input :number
  = f.button :wrapped, :cancel => frontoffice_restaurant_tables_path(@table.restaurant)