= simple_form_for [:frontoffice, @zone.restaurant, @zone], :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.button :wrapped, :cancel => frontoffice_restaurant_zones_path(@zone.restaurant)